---
import Header from "../components/Header.astro";
import Hero from '../components/Hero.astro';
import SectionWrapper from "../components/SectionWrapper.astro";
import Layout from "../layouts/Layout.astro";
import { sections } from "../utils/constants";
---

<Layout>
  <Header />
  <main class="main">
    <Hero />
    <SectionWrapper
      id={sections.experience.label}
      title={sections.experience.title}
    />
    <SectionWrapper
      id={sections.projects.label}
      title={sections.projects.title}
    />
    <SectionWrapper
      id={sections.aboutMe.label}
      title={sections.aboutMe.title}
    />
  </main>
</Layout>

<style>
  .main {
    max-width: 42rem;
    width: 100%;
    margin-inline: auto;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
